lib/flows/flows.json
[{"id":"9ab91bb2.9ce5d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cf6ba580.d136e8","type":"http in","z":"9ab91bb2.9ce5d8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":170,"y":200,"wires":[["60a66926.ec01b8"]]},{"id":"af5b81a5.e0df8","type":"http response","z":"9ab91bb2.9ce5d8","name":"","statusCode":"","headers":{},"x":570,"y":200,"wires":[]},{"id":"60a66926.ec01b8","type":"change","z":"9ab91bb2.9ce5d8","name":"response","rules":[{"t":"set","p":"payload.port","pt":"msg","to":"PORT","tot":"env"},{"t":"set","p":"payload.running","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":200,"wires":[["af5b81a5.e0df8"]]}]