lib/flows/flows.json
[
    {
        "id": "9ab91bb2.9ce5d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d8de3d96db20ab4",
        "type": "rocketchatConfig",
        "instanceHost": "${ROCKETCHAT_INSTANCE_HOST}",
        "botUsername": "${ROCKETCHAT_BOT_USERNAME}",
        "botName": "${ROCKETCHAT_BOT_NAME}",
        "hasSSL": true
    },
    {
        "id": "cd21989db5b32bbd",
        "type": "rocketchatReceiver",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "bot": "4d8de3d96db20ab4",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "296545d08529309b"
            ]
        ]
    },
    {
        "id": "296545d08529309b",
        "type": "change",
        "z": "9ab91bb2.9ce5d8",
        "name": "addSessionId",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "sender.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "4f348a0445c87ade"
            ]
        ]
    },
    {
        "id": "4f348a0445c87ade",
        "type": "watson-assistant-v2",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "service-endpoint": "${WATSON_SERVICE_ENDPOINT}",
        "assistant_id": "${WATSON_ASSISTANT_ID}",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "c2cbafe791b73355"
            ]
        ]
    },
    {
        "id": "41740a4c9e3865c0",
        "type": "split",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "70cb351cc08c093a"
            ]
        ]
    },
    {
        "id": "70cb351cc08c093a",
        "type": "change",
        "z": "9ab91bb2.9ce5d8",
        "name": "moveTextToPayload",
        "rules": [
            {
                "t": "move",
                "p": "payload.text",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "fe1a8925ea08aab6"
            ]
        ]
    },
    {
        "id": "c2cbafe791b73355",
        "type": "change",
        "z": "9ab91bb2.9ce5d8",
        "name": "moveGenericToPayload",
        "rules": [
            {
                "t": "move",
                "p": "payload.output.generic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 260,
        "wires": [
            [
                "41740a4c9e3865c0"
            ]
        ]
    },
    {
        "id": "fe1a8925ea08aab6",
        "type": "rocketchatSender",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "x": 670,
        "y": 320,
        "wires": []
    }
]